.mainImg {
	/*background-color: #2B3E50;*/
	border-radius: 50%;
	/*padding: 20px; */
	width: 200px;
	height: 200px;
	background-image: url("../img/children2.png");
}

.iconImg {
	background-color: #2B3E50;
	border-radius: 50%;
	padding-top: -20px;
	width: 30px;
	height: 30px;
	/*background-image: url("../img/children3.jpg"); */
}

.parallax {
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.background-overlay {
	/*height: 359px;*/
	background-image: url("../img/children2.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 50px;
}

.no-opacity {
	opacity: 1;
}

.pstyle {
	font-size: 20px
}

.hjustify {
	text-align: justify;
}


.link-color{
	color: #57B99D;
}
